* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif !important;
}
nav {
  height: 100px;
  width: 100%;
  background-color: #0147be;
  border-bottom: 1px solid rgb(73, 118, 230);
}
nav img {
  height: 38%;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
}

.menu {
  cursor: pointer;
  float: left;
  margin-top: 2.5%;
  margin-left: 2%;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
  margin-left: 10%;
}

nav p {
  float: left;
  margin-top: 3%;
  margin-left: 1%;
  font-size: large;
  font-weight: bold;
  color: white;
}
#btn {
  padding-right: 20%;
}

nav #search input {
  border: 0px;
  width: 40%;
  height: 40px;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
  border-radius: 7px;
  margin-right: 1%;
}

#searchbar {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-top: 2.5%;
  cursor: pointer;
}

#cartlogo {
  position: absolute;
  right: 60;
  top: 30;
  font-size: 30px;
  padding-right: 1%;
  color: white;
}
#alice {
  position: absolute;
  right: 200;
  top: 30;
  font-size: 30px;
  padding-right: 1%;
  color: white;
}

#menusection {
  background-color: #0147be;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-gap: 0%;
  padding-left: 1%;
}
#menusection div {
  margin-top: 5%;
  color: white;
  font-size: small;
}
#Firstcont {
  background-color: rgb(240, 242, 244);
  height: 600px;
}

.bld {
  font-weight: bolder;
}
.fas {
  font-weight: lighter;
}
#conttoshowproduct {
  margin-top: 6%;
}

#brand {
  margin-left: 4%;
  color: rgb(5, 40, 115);
  font-weight: bold;
  margin-bottom: 0.3%;
}

#productname {
  margin-left: 4%;
  font-size: large;
}

#model {
  margin-top: 1%;
  margin-left: 4%;
  font-weight: bold;
}
.checked {
  color: orange;
}

#startrating {
  margin-left: 4%;
  margin-top: 1%;
}
#metainfo {
  margin-left: 1%;
  font-size: small;
  color: #0147be;
}
#productimg {
  margin-left: 4%;
  margin-top: 2%;
}
#productimg img {
  width: 70%;
  margin-top: 2%;
}
#productimgs img {
  width: 5%;
  float: left;
  margin: 2%;
}
#conttoshowproduct {
  float: left;
  margin-top: 1px solid black;
}
#productimgs {
  margin-left: 4%;
  margin-top: 8%;
}
#slogan {
  margin-left: 10%;
  margin-top: 1%;
  font-size: small;
  color: blue;
}

#cartoptionsandall {
  float: left;
  height: 700px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  margin-top: 6%;
  overflow-y: auto;
}
#cartoptionsandall::-webkit-scrollbar {
  display: none;
}
#doller {
  height: 30px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  font-size: 10px;
}

#pricemathc {
  font-size: smaller;
  font-weight: bold;
}

#price {
  display: grid;
  grid-template-columns: 200px 30px 150px;
}
/* #pricewithoutdis {
  border-right: 1px solid blue;
} */
/* #svaem {
  height: 30px;
  background-color: red;
  width: 30px;
} */
#sloganpattern {
  float: left;
  margin-left: 1%;
}
#sloganpattern {
  height: 20px;
  background-color: rgb(188, 50, 40);
  margin-right: 2%;
  text-align: center;
  padding: 1%;
  border-radius: 2px;
  color: white;
}

#productprice {
  font-size: x-large;
  font-weight: bolder;
}
#was {
  font-weight: lighter;
  font-size: smaller;
}

#emaicost {
  font-size: x-large;
  font-weight: bolder;
}
#or {
  font-weight: lighter;
}

#metainfosome {
  font-weight: lighter;
  font-size: smaller;
}
#finance {
  font-size: smaller;
  font-weight: bolder;
}
#showmehow {
  font-size: smaller;
  color: #0147be;
}
#delevery {
  margin-top: 4%;
  height: 70px;
  background-color: rgb(244, 246, 249);
  width: 350px;
  padding: 4%;
}
#delslogan {
  font-weight: bolder;
  font-size: small;
}
#learnmore {
  font-weight: lighter;
  font-size: small;
}
#rewd {
  font-weight: lighter;
  font-size: small;
}

#config {
  height: 30px;
  border-bottom: 1px solid rgb(197, 203, 213);
  border-top: 1px solid rgb(197, 203, 213);
  padding-top: 2%;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

#protectionprice {
  font-size: small;
}

#learnmore {
  margin-top: 2%;
  color: #0147be;
}

#chkbx {
  margin-top: 2%;
  margin-bottom: 2%;
}

#getit {
  color: green;
  font-size: small;
  margin-top: 2%;
}

#pickup {
  font-size: small;
  width: 80%;
  margin-top: 2%;
}
#del {
  font-size: small;
  width: 80%;
  margin-top: 2%;
}
#addtocart {
  margin-top: 4%;
  text-align: center;
  height: 30px;
  width: 200px;
  margin-bottom: 4%;
  margin-left: 15%;
  border: 0px;
  background-color: rgb(255, 225, 52);
}

#suggestion {
  margin-top: 6%;
  height: 30px;

  margin-right: 1%;
}
.proimg img {
  width: 7%;
  margin-top: 2%;
  float: left;
  margin-right: 2%;
}

.proimg p {
  margin-left: 2%;
  font-size: small;
}

#priceodsug {
  margin-top: 1%;
  font-weight: bold;
  text-align: center;
}

#footer {
  height: 100px;
  width: 100%;
  background-color: rgb(1, 71, 190);
  margin-bottom: 0%;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
#footer input {
  height: 30px;
  margin-top: 40px;
  border-radius: 4px;
  border: 0px;
}
#footer button {
  height: 30px;
  margin-top: 40px;
  margin-left: 4%;
  width: 80px;
  background-color: yellow;
  color: black;
  border: 0px;
  font-weight: bolder;
  border-radius: 4px;
}
#footer :nth-child(1) {
  color: yellow;
  margin-top: 40px;
  font-size: x-large;
  font-weight: bolder;
}
#footer :nth-child(5) {
  color: yellow;
  margin-top: 40px;
  font-size: x-large;
  font-weight: bolder;
}

#suggestedproduct {
  height: 500px;
  overflow-y: scroll;
  display: none;
}
#suggestedproduct img {
  margin-bottom: 2%;
}
