* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(240, 242, 244);
}
nav {
  height: 100px;
  width: 100%;
  background-color: rgb(1, 71, 190);
}

nav img {
  height: 40%;
  margin-top: 2%;
  margin-left: 10%;
}
nav div {
  float: right;
  margin-top: 2%;
  margin-right: 10%;
  color: white;
}

#form {
  width: 400px;
  background-color: white;
  margin: auto;
  margin-top: 4%;
  padding-top: 4%;
  margin-bottom: 10%;
}

#form .basic {
  height: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10%;
  border: 1px solid rgb(197, 203, 213);
  padding: 3%;
  border-radius: 3px;
}
#form p {
  text-align: center;
  margin-top: 2%;
}
#form :nth-child(1) {
  font-size: x-large;
}
a {
  font-size: x-small !important;
}
#chkbox {
  margin-left: 9%;
  margin-top: 8%;
}
#signup {
  height: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 20px;
  background-color: rgb(3, 62, 167);
  color: white;
  border: 0px;
  border-radius: 2px;
  font-size: normal;
  font-weight: bolder;
}
#google {
  height: 35px;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 20px;
  border: 1px solid blue;
  background-color: white;
  color: blue;
  font-weight: bolder;
}
#or {
  color: rgb(74, 110, 228);
  font-size: 15px;
  text-align: center;
  margin-top: 2%;
}

